{% extends 'base.html.twig' %}

{% block title %}New Figure{% endblock %}

{% block body %}
    <h1 class="title is-1">Nouvelle Figure</h1>

    {{ include('figure/_form.html.twig') }}

    <a class="button is-black" href="{{ path('figure_index') }}">Annuler</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/javascripts/addvideos.js') }}"></script>{% endblock %}