{% extends 'base.html.twig' %}

{% block title %}New Figure{% endblock %}

{% block body %}
    <h1 class="title">Create new Figure</h1>

    {{ include('figure/_form.html.twig') }}

    <a href="{{ path('figure_index') }}" class="button">back to list</a>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/javascripts/pictures.js') }}"></script>
{% endblock %}