{% extends 'figure/edit.html.twig' %}

{% block title %}Nouvelle figure{% endblock %}

{% block buttons %}
    <div class="d-flex">
        <div class="mr-auto p-2">
            <a href="{{ path('figure_show', {'id': figure.id}) }}" class="btn btn-dark">Annuler</a>
        </div>
        <div class="p-2">
            <button class="btn btn-success">Sauvegarder</button>
        </div>
    </div>
{% endblock %}

