<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    {#<link rel="stylesheet" href="{{ asset('assets/css/snowtricks.css') }}">#}
    <link rel="stylesheet" href="{{ asset('assets/css/smooth.css') }}">
    {% block stylesheets %}{% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
</head>

<body>
    <header class="header fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <small class="font-weight-bold mb-0 text-uppercase">Smoothscroll</small>
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link scroll-link" href="#one">Section 1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="#two">Section 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="#three">Section 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll-link" href="#four">Section 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="py-5 header text-center text-white mt-5" id="hero">
        <div class="container py-5 text-white">
            <header class="py-5 my-lg-5">
                <h1 class="display-4">Bootstrap smooth scroll</h1>
                <p class="font-italic mb-1">Easily create animated page scrolling effect using jquery scrollTo plugin. </p>
                <p class="font-italic">Snippet by
                    <a class="text-white" href="https://bootstrapious.com/">
                        <u>Bootstrapious</u>
                    </a>
                </p>
                <p class="font-italic">Plugin used in this snippet:
                    <a class="text-white" href="https://github.com/cferdinandi/smooth-scroll" target="_blank">
                        <u>Smooth Scroll</u>
                    </a>
                </p>
            </header>
        </div>
    </section>

    <!-- Demo section 1 -->
    <section class="py-5 d-flex align-items-center" id="one">
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-lg-9 mx-auto">
                    <h2 class="h1 mb-4">Demo section 1</h2>
                    <p class="font-italic mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <!-- Scroll to top -->
                    <a class="btn btn-outline-light px-4 rounded-0 scroll-top" href="#">Back to top</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Demo section 2-->
    <section class="py-5 d-flex align-items-center" id="two">
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-lg-9 mx-auto">
                    <h2 class="h1 mb-4">Demo section 2</h2>
                    <p class="font-italic mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <!-- Scroll to top -->
                    <a class="btn btn-outline-light px-4 rounded-0 scroll-top" href="#hero">Back to top</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Demo section 3 -->
    <section class="py-5 d-flex align-items-center" id="three">
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-lg-9 mx-auto">
                    <h2 class="h1 mb-4">Demo section 3</h2>
                    <p class="font-italic mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <!-- Scroll to top -->
                    <a class="btn btn-outline-light px-4 rounded-0 scroll-top" href="#hero">Back to top</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Demo section 4 -->
    <section class="py-5 d-flex align-items-center" id="four">
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-lg-9 mx-auto">
                    <h2 class="h1 mb-4">Demo section 4</h2>
                    <p class="font-italic mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <!-- Scroll to top -->
                    <a class="btn btn-outline-light px-4 rounded-0 scroll-top" href="#hero">Back to top</a>
                </div>
            </div>
        </div>
    </section>


    {% block javascripts %}{% endblock %}
</body>
